@model GAReporting.Web.Models.Analytics.Report
@using System.Globalization;

<div class="page-header">
    <h1>@Model.Title <small>@Model.Intro</small></h1>

    <p>
        <a href="@Url.Action("Dashboard", "Report", new
            {
                accountId = Model.AccountId,
                webPropertyId = Model.WebPropertyId,
                profileId  = Model.ProfileId
            }, null)">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
        </a>
    </p>
</div>





<div class="row">
    <div class="col-md-12">
        <h2>Real-time stats</h2>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Active Users</h3>
            </div>
            <div class="panel-body text-center text-success h1">
                @{
                    Html.RenderAction("RealTimeMetric", "Report", new
                    {
                        ProfileId = Model.ProfileId,
                        Metric = "rt:activeUsers",
                        viewname = "RealTimeValue"
                    });
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Page Views</h3>
            </div>
            <div class="panel-body text-center text-success h1">
                @{
                    Html.RenderAction("RealTimeMetric", "Report", new
                    {
                        ProfileId = Model.ProfileId,
                        Metric = "rt:pageviews",
                        viewname = "RealTimeValue"
                    });
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tracked Events</h3>
            </div>
            <div class="panel-body text-center text-success h1">
                @{
                    Html.RenderAction("RealTimeMetric", "Report", new
                    {
                        ProfileId = Model.ProfileId,
                        Metric = "rt:totalEvents",
                        viewname = "RealTimeValue"
                    });
                }
            </div>
        </div>
    </div>
</div>



@{
    Html.RenderAction("ReportingMetric", "Report", new
    {
        ProfileId = Model.ProfileId,
        startDate = DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"),
        endDate = DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd"),
        metric = "ga:sessions,ga:bounces",
        Dimensions = "ga:date"
    });
}







<div class="row">
    <div class="col-md-12">
        <h2>Real-time stats detail</h2>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Active Users</h3>
            </div>
            <div class="panel-body ">

                @{
                    Html.RenderAction("RealTimeMetric", "Report", new
                    {
                        ProfileId = Model.ProfileId,
                        Metric = "rt:activeUsers",
                        Dimensions = "rt:country",
                        sortDimensions = "-rt:activeUsers"
                    });
                }


            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Page Views</h3>
            </div>
            <div class="panel-body ">
                @{
                    Html.RenderAction("RealTimeMetric", "Report", new
                    {
                        ProfileId = Model.ProfileId,
                        Metric = "rt:pageviews",
                        Dimensions = "rt:pagePath, rt:pageTitle",
                        sortDimensions = "-rt:pageviews"
                    });
                }


            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tracked Events</h3>
            </div>
            <div class="panel-body ">




                @{
                    Html.RenderAction("RealTimeMetric", "Report", new
                    {
                        ProfileId = Model.ProfileId,
                        Metric = "rt:totalEvents",
                        Dimensions = "rt:eventCategory,rt:eventAction,rt:eventLabel"
                    });
                }


            </div>
        </div>
    </div>

</div>
